<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>

	<bean name="userServiceImpl"
		class="github.mappingrpc.example.servercall.serverapp.mock.service.UserServiceImpl"/>


	<bean name="dataChangeListener" factory-bean="rpcServer1"
		factory-method="createConsumerProxy">
		<constructor-arg
			value="github.mappingrpc.example.servercall.clientapp.commonforserver.service.ServerDataChangeListener"/>
	</bean>

	<bean name="rpcServer1" class="github.mappingrpc.api.MappingRpcServer"
		init-method="start">

		<property name="listenPort" value="6200"/>

		<property name="providerList">
			<list>
				<ref bean="userServiceImpl"/>
			</list>
		</property>
	</bean>
</beans>