<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>

	<bean name="userService" factory-bean="rpcClient1"
		factory-method="createConsumerProxy">
		<constructor-arg value="mappingrpc.test.centerserver.service.UserService"/>
	</bean>

	<bean name="rpcClient1" class="github.mappingrpc.api.MappingRpcClient"
		init-method="start">
		<property name="serverList">
			<props>
				<prop key="localhost">6200</prop>
				<prop key="localhost">6200</prop>
				<prop key="localhost">6200</prop>
			</props>
		</property>

		<property name="tlsConfig">
			<bean class="github.mappingrpc.api.domain.TlsConfig">
				<property name="tlsKeyStoreFilePath"
					value="/home/lokki/workspace/javaKeyStore/mappingRpcClientTest.jks"/>
				<property name="tlsKeyStorePassword" value="testclientpsw"/>
				<property name="tlsKeyPassword" value="testclientpsw"/>

				<property name="tlsCertStorePath"
					value="/home/lokki/workspace/javaKeyStore/mappingRpcClientTest.jks"/>
				<property name="tlsCertStorePassword" value="testclientpsw"/>
			</bean>
		</property>
	</bean>
</beans>